.hero {
  width: 100%;
  height: 362px;

  & .black-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 362px;
    background: #000;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
    }

    & h1 {
      text-align: center;
      z-index: 10;
    }
  }
}
